@import "tailwindcss";

/* --- emfont --- */

.✏️MuzaiPixel {
  font-family: 'MuzaiPixel';
  font-weight: 400;
}

.✏️️FusionPixelFont12pxMono {
  font-family: 'FusionPixelFont12pxMono';
  font-weight: 400;
}

/* --- solid-transition-group --- */

.s-enter-active,
.s-exit-active {
  /* transition: all 0.4s ease; */
}

.s-enter {
  opacity: 0;
  transform: translate(100%, 5%);
}

.s-enter-to {
  opacity: 1;
  transform: translate(0, 0);
}

.s-exit {
  opacity: 1;
  transform: translate(0, 0);
}

.s-exit-to {
  opacity: 0;
  transform: translate(-100%, -5%);
}

.s-move {
  /* transition: transform 0.4s ease; */
}

/* Don't use Tailwind CSS so it's easier to override in OBS */
.section-border {
  border-radius: 5px;
  border: 2px solid white ;
  margin-bottom: 5px;
  padding: 2px;
}
